header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
}

.logo {
    width: 45%;
    height: 100%;

    padding-left: 25px;
    padding-top: 10px;
    font-size: 2.2em;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* #region Hamburger menu */
.burger {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    /* background: white; */
    /* box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px; */
    ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all .5s ease;
    margin: 1em;

    z-index: 10;
}


.strip div {
    height: 4px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    margin: 7px;
    transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 40px;
}

/* #endregion Hamburger menu */

/* #region Navbar */
.nav-bar {
    background-image: linear-gradient(#12181c, #1b2232);

    width: 100%;
    height: 100%;

    display: none;

    position: fixed;
    z-index: 9;

    transition: all 0.5s ease;
}

.nav-bar.active {
    display: block;
}

.nav-bar ul {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;

    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
    font-size: 2em;

    margin: 0.5em;
    padding: 0.6em;

    justify-content: center;
    align-items: center;
    display: flex;
}

/* #endregion Navbar */

@media (min-width: 768px) {
    .burger{
        display: none;
    }

    .nav-bar {
        display: flex;
        justify-content: right;
        visibility: visible;

        background-image: none;
        position: relative;
    }

    .nav-bar ul {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;

        justify-content: right;
        align-items: right;
        display: flex;
    }

    .nav-bar ul li {
        font-size: 1.2em;

        font-weight: bold;

        margin: 0.5em;
        padding: 0.6em;

        justify-content: right;
        align-items: right;
        display: flex;
    }
}