.margin-top {
    margin-top: 5em;
}


.width-title {
    width: 70%;
}

.project-content {
    text-align: justify;
    margin-top: 2em;
}

.project-background-color-red {
    background-color: #da3434;
}

.project-background-color-yellow {
    background-color: #f4b942;
}


.project-img {
    width: 80%;
    height: 80%;

    margin: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.proj-btn {
    display: block;
    background-color: #12181c;
    justify-content: center;
    text-align: center;

    padding: 10px;

    border-radius: 4px;
}