* {
    margin: 0;
    padding: 0;

    list-style: none;
    box-sizing: border-box;

    color: #fff;
    font-family: 'Space Mono', 'Roboto', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vh;
    /* background-color: #12181c; */
    /* overflow-x: hidden; */
    background-image: linear-gradient(#12181c, #1b2232);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* #region Home */
.mainTitle {
    font-size: 1em;
    text-align: center;
    margin-top: 20vh;

    width: 100%;

    height: 50vh;
}

.home-subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.4em;

    margin-bottom: 10px;

}

.home-intro {
    font-size: 1em;
    text-align: center;
    margin-top: 0.4em;

    padding-left: 3em;
    padding-right: 3em;

    margin-bottom: 14px;
}

.scale-up-center {
    margin-top: 25px;
}

.home-btn {
    text-decoration: none;
    margin-left: 7px;
    margin-right: 7px;
}

.btn-box {
    padding-top: 10px;
    width: 70%;
    margin: auto;
}

.btn {
    font-size: 1.4rem;
    /* font-size: auto; */

    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    justify-content: center;
    align-items: center;

    border-radius: 4px;
    padding: 2px;

    z-index: 2;
    cursor: pointer;
}

/* #endregion Home */

/* #region About */
.content {
    width: 100%;
    height: 100%;

    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about {
    padding-top: 20vh;
    width: 100%;
    /* height: 90vh; */
    height: auto;
    padding-bottom: 30vh;
}

.about-title {
    font-size: 2.2em;
    text-align: center;
    margin-top: 0.4em;

    margin-bottom: 10px;
}

.about-title-box {
    background-color: rgb(240, 208, 46);
    color: #12181c;
    font-weight: bold;
    width: 50%;

    margin: auto;
}

.about-content {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.4em;

    line-height: 1.5em;

    padding-left: 1em;
    padding-right: 1em;

    margin-bottom: 14px;
}

.about-lang-title {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.4em;

    padding-left: 1em;
    padding-right: 1em;

    margin-bottom: 14px;

    font-weight: bold;
}

.about-lang-box,
.about-lang-box u {
    background-color: #f46f47;
    color: #12181c;
    font-weight: bold;
    width: 70%;

    margin: auto;
    padding: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.about-langs {
    font-size: 1.2em;
    text-align: left;
    margin-top: 0.4em;

    padding-left: 1em;
    padding-right: 1em;

    margin-bottom: 14px;
}

.about-lang {
    width: 100%;
    height: 15px;
    margin-top: 10px;

    position: relative;
}

.about-langs-bar {
    width: 85%;
    height: 15px;
    margin-top: 10px;
    background-color: #2f373c;
    border-radius: 10px;
}

.about-langs-bar-fill {
    height: 100%;
    border-radius: 10px;
    /* background-color: #f0d02e; */
    transition: width 1s ease-in-out;
}

.about-lang-perc {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0 10px;
    line-height: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    /* align-items: center; */
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 1em;
    text-align: center;

}

.grid-item-green {
    background-color: rgba(22, 169, 22, 0.3);
}

.grid-item-red {
    background-color: rgba(255, 0, 0, 0.3);
}

.grid-item-blue {
    background-color: rgba(40, 40, 197, 0.433);
}

.grid-item-yellow {
    background-color: rgba(255, 255, 0, 0.3);
}

.about-tools,
.about-other {
    height: 2em;
    padding-bottom: 3em;
}

.about-me-title {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.4em;

    margin-bottom: 20px;
}

/* #endregion About */

/* #region Projects */
.projects {
    width: 100%;
    height: 90vh;
}

.projects-title {
    font-size: 2em;
    text-align: center;
    margin-top: 0.4em;

    margin-bottom: 10px;
}

.projects-content {
    font-size: 1em;
    text-align: center;
    margin-top: 0.4em;

    padding-left: 2em;
    padding-right: 2em;

    margin-bottom: 14px;
}

/* #endregion Projects */
.project {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects-title {
    font-size: 2.2em;
    text-align: center;
    margin-top: 0.4em;

    margin-bottom: 20px;
}

.projects-title-box {
    background-color: rgb(46, 146, 240);
    color: #12181c;
    font-weight: bold;
    width: 50%;

    margin: auto;
}

.project-content {
    font-size: 1em;
    text-align: center;
    margin-top: 0.4em;

    padding-left: 2em;
    padding-right: 2em;

    margin-bottom: 28px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper-item {
    background-color: #12181c;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    cursor: pointer;

    display: flex;
    position: relative;
}

.w-image {
    background-color: #12181c;

    min-width: 4em;
    min-height: 4em;
    max-width: 4em;
    max-height: 4em;

    align-items: center;

    border-radius: 10px;
}

.w-image img {
    width: 110%;
    height: 110%;
}

.w-text {
    margin-left: 10px;
    display: block;
    right: 0;
    max-width: fit-content;
    text-align: justify;
}

.w-arrow {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.all-proj-btn {
    background-color: #12181c;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    cursor: pointer;

    /* Put the button the the center */
    display: flex;
    justify-content: center;
    align-items: center;


}

.less-size {
    width: 60%;
    margin: auto;
}

@media (min-width: 768px) {
    body {
        max-width: 100%;
    }

    .mainTitle {
        font-size: 1.8em;
    }

    .home-btn {
        font-size: 1em;
    }

    /* #region About */
    .about-title-box {
        width: 40%;

        font-size: 1.5em;
    }

    .about-content {
        font-size: 1.4em;

        padding-left: 2em;
        padding-right: 2em;
    }

    .about-lang-box {
        width: 40%;

        font-size: 1.3em;
    }

    /* make .about-lang a circular progress bar */
    .about-langs {
        font-size: 1.3em;

        padding-left: 4em;
        padding-right: 4em;
    }

    .about-lang {
        width: 100%;
        height: 100%;
    }

    .about-lang-perc {
        right: 2em;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 3em;
    }

    .about-me-title {
        font-size: 1.6em;
    }
    /* #endregion About */

    /* #region Projects */
    .projects-title-box {
        width: 40%;

        font-size: 1.5em;
    }

    .projects-content {
        font-size: 1.4em;

        padding-left: 2em;
        padding-right: 2em;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin: 3em;
    }

    .w-text {
        margin-left: 1em;

        font-size: 1.3em;
    }

    .all-proj-btn {
        font-size: 1.3em;

        width: 40%;
        padding-top: 1rem;
        padding-bottom: 1.2rem;
        margin: auto;
    }

    .less-size {
        /* remove style */
        width: 80%;
        margin: auto;
    }

    @media (min-width: 1024px) {
        .mainTitle h1 {
            padding-bottom: 0.6em;
            font-size: 2em;
        }

        .home-subtitle {
            padding-bottom: 0.6em;
        }

        .home-btn {
            margin-top: 0.6em;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        .content {
            width: 70%;

            margin: auto;

        }

        .wrapper {
            grid-template-columns: repeat(3, 1fr);
        }

        .about-lang {
            width: 100%;
        }

        .about-langs-bar {
            width: 95%
        }

        .grid-container {
            grid-template-columns: repeat(3, 1fr);
            margin: 3em;
        }

        .about-other, .about-tools {
            text-align: center;
        }

        .about-lang-perc {
            right: 0em;
        }
    }
}

.margin-top {
    margin-top: 10em;
}

.height-auto {
    height: auto;
}

.social-icon {
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

.white-svg {
    fill: #fff;
}

.no-link-underline {
    text-decoration: none;
}